<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>excel拆分</title>
    <link rel="stylesheet" href="/assets/layui/layui.css">
    <script src="/assets/layui/layui.all.js"></script>
</head>
<body>
<h1>excel 导入</h1>

<div class="layui-upload">
    <button type="button" class="layui-btn layui-btn-normal" id="upload">选择文件</button>
    <button type="button" class="layui-btn" id="startUpload">开始上传</button>
</div>

<div class="layui-progress layui-progress-bar" lay-showPercent="yes" lay-filter="progressBar">
    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
</div>

<form class="layui-form" >
    <div class="layui-form-item proSelect">
        <div class="layui-form-item">
            <label class="layui-form-label">选择框</label>
            <div class="layui-input-block">
                <select name="city" lay-verify="required" id="select">
                    <option value=""></option>

                </select>
            </div>
    <a class="layui-btn layui-btn-small" id="" onclick="">确定</a>
</form>

</body>

<script>

    layui.use(['upload','element','form'], function() {
        var $ = layui.jquery
            , upload = layui.upload
            ,element = layui.element
            ,form = layui.form;
        //选完文件后不自动上传
        upload.render({
            elem: '#upload'
            , url: '/upload'
            , auto: false
            ,accept:'file'
            //,multiple: true
            , bindAction: '#startUpload'
            , progress: function(e , percent) {
                console.log("进度：" + percent + '%');
                element.progress('progressBar',percent  + '%');
        }
            , done: function (res) {
                options = '';
               for(option in res){
                   options += "<option class='' value='" + res + "'>" + res + "</option>";

               }
               console.log(options)
               $('#select').append(options)
            }
        });

    })





</script>


</html>