<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>excel拆分</title>
    <link rel="stylesheet" href="/assets/layui/layui.css">
    <script src="/assets/layui/layui.all.js"></script>
</head>
<body>
<h1>excel 导入</h1>

<div class="layui-upload">
    <button type="button" class="layui-btn layui-btn-normal" id="upload">选择文件</button>
    <button type="button" class="layui-btn" id="startUpload">开始上传</button>
</div>

<div class="layui-progress layui-progress-big" lay-showPercent="yes" lay-filter="progressBar">
    <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
</div>
</body>

<script>

    layui.use(['upload','element'], function() {
        var $ = layui.jquery
            , upload = layui.upload
            ,element = layui.element;
        //选完文件后不自动上传
        upload.render({
            elem: '#upload'
            , url: '/upload'
            , auto: false
            ,accept:'file'
            //,multiple: true
            , bindAction: '#startUpload'
            , progress: function(e , percent) {
                console.log("进度：" + percent + '%');
                element.progress('progressBar',percent  + '%');
        }
            , done: function (res) {
                console.log(res)
            }
        });

    })


</script>


</html>